@page
@model sitioWebRazor.Page.indexModel
@{
    ViewData["Title"] = "Bienvenidos a mi Página";
}
<div class="jumbotron">
    <h1 class="display-3">Bienvenidos a la web de Adventure Works</h1>
    <h1>Hola Mundo</h1>
</div>