@page
@model sitioWebRazor.Pages.informacionModel
@{
    ViewData["Title"] = "Información.";

}

<div class="jumbotron">
    <h1 class="display-3">Información Personal</h1>
</div>

<h2>Nombre: Yoni Edilzar Escobar Bautista</h2>
<h2>Carnet: 12003906</h2>
<h3>yoniedilzar@gmail.com</h3>

